* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    color: #1F1C1C;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* #logo img {
    width: 150px;
    height: 80px;
    margin: 10px;
    position: absolute;
} */

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 4px 0;
}

.nav li {
    margin-right: 15px;
    margin-left: 15px;
}

.nav li a {
    text-decoration: none;
    color: 1F1C1C;
}

.header {
    background-color: white;
    padding-top: 2px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;
}

.logo {
    color: #313186;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}

.logo-image {
    display: block;
    width: 129px;
    height: 129px;
    background-image: url(img/logo-image.svg);
    margin-right: 20px;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #313186;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    cursor: pointer;
}

.header-info button:hover {
    background-color: #313186;
    color: #fff;
}

.header-bottom {
    padding: 20px 0 27px 0;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

.header-bottom .nav li {
    margin-right: 20px;
    margin-left: 20px;
}

hr {
    background-color: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 39px;
}

.title h2 {
    font-size: 24px;
    font-weight: 700;
}

.banner p {
    margin-bottom: 58px;
    max-width: 315px;
    line-height: 1.5;
}

.btn {
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.bg-white {
    background-color: #fff;
    padding: 23px 30px 34px 30px;
}

.bg-green {
    background-color: #313186;
    color: #fff;
    padding: 34px 41px;
    display: flex;
    justify-content: space-between;

}

.bg-green-item {
    flex: 0 0 67%;
}

.bg-green-img {
    flex: 0 0 31%;
    text-align: center;
}

.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.bg-green p {
    line-height: 1.5;
    margin-bottom: 24px;
}

.bg-green input {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 225px;
}

.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 166px;
    padding: 8px 0;
}

.catalog {
    padding-top: 60px;
    padding-bottom: 133px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 19px 30px;
}

.grid-item-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.grid-item-img {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: center;
}

.grid-item-left {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-top: 80px;
}

.grid-item-right {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin-top: 80px;
}

.grid-item-catalog {
    text-align: center;
    padding: 15px;
}

.grid-item-catalog .bg-white {
    padding: 23px 30px;
}

.thumb {
    margin-bottom: 14px;
}

.grid-title {
    line-height: 1.5;
    margin-bottom: 0;
}

.grid-price {
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.grid-btn {
    border-radius: 30px;
    border: 2px solid #313186;
    background-color: #313186;
    color: #fff;
    text-decoration: none;
    padding: 6px 41px;
    transition: 0.2s ease;
    cursor: pointer;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 23px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #333;
    padding: 26px 0;
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #333;
    text-decoration: none;
}

.footer-info {
    display: flex;
    float: center;
}

.footer-info span {
    font-size: 16px;
    margin-left: 36px;
}

.footer-info span:first-child {
    font-size: 14px;
    margin-left: 0;
}

.footer-info button {
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #313186;
    background-color: #313186;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    color: #fff;
    cursor: pointer;
}