* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    color: #1F1C1C;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container {
    margin: 0px;
}

/* #logo img {
    width: 150px;
    height: 80px;
    margin: 10px;
    position: absolute;
} */

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav li {
    margin-right: 10px;
    margin-left: 10px;
}

.nav li a {
    text-decoration: none;
    color: 1F1C1C;
}

.header {
    background-color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: #1B1BB3;
    font-size: 36px;
    font-weight: 700;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #1B1BB3;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
}

.header-bottom {
    padding: 15px 0;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(i);
}